---
layout: default
---

<div class="content">
    {% if site.paginate %}
    {% assign projects = paginator.projects %}
    {% else %}
    {% assign projects = site.projects %}
    {% endif %}

    {%- if projects.size > 0 -%}
    <div class="project-list">
        {% assign sorted_projects = projects | sort: 'period' | reverse %}
        {%- for project in sorted_projects -%}
        <div class="project-item">
            <div class="inner">
                <a href="{{ project.url | relative_url }}">
                    <h2>{{ project.title | escape }}</h2>
                </a>
            </div>

            <a href="{{ project.url | relative_url }}">
                <img src="{{ project.thumbnail }}" />
            </a>

            <div class="inner">
                <p>{{ project.preview | default: project.excerpt | strip_html }}</p>
            </div>
        </div>
        {%- endfor -%}
    </div>

    {% if site.paginate %}
    <div class="pager">
        <ul class="pagination">
            {%- if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}"
                    class="previous-page">{{ paginator.previous_page }}</a></li>
            {%- else %}
            <li>
                <div class="pager-edge">•</div>
            </li>
            {%- endif %}
            <li>
                <div class="current-page">{{ paginator.page }}</div>
            </li>
            {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a>
            </li>
            {%- else %}
            <li>
                <div class="pager-edge">•</div>
            </li>
            {%- endif %}
        </ul>
    </div>
    {%- endif %}

    {%- endif -%}

</div>